:root {
  font-family: 'monospace' !important;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --selection-color: rgb(37, 53, 53);
}
@font-face 
{
  font-family: 'monospace' !important;
  src: url('./assets/fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf')  format('truetype'),
  url('./assets/fonts/Source_Code_Pro/static/SourceCodePro-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  font-family: 'monospace' !important;
  font-size: 15px !important;
  line-height: 1.6 !important;
  overflow-x: hidden;
  overflow-y: hidden;
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px; */
  min-height: 100vh;
}

#app {
  /* max-width: 1280px; */
  /* padding: 2rem; */
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #45d1f7;
    /* background-color: #0d0808; */
  }
  a:hover {
    color: #747bff;
  }
  /* button {
    background-color: #f9f9f9;
  } */
}
/* .toastr-title-cl
{
  font-size: 18px;
  color: rgb(255, 252, 228);
  font-weight: 800;
} */

.toastr-toast
{
  font-family: 'monospace' !important;
  font-size: 14px;
  font-weight: 800;
}

.toastr-title-cl 
{
  font-size: 18px;
  color: rgb(255, 252, 228);
  font-weight: 800;
 
}

.neon
{
  color: #fff !important;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(187, 80, 236),
    0 0 82px rgb(188, 87, 235),
    0 0 92px rgb(187, 80, 236),
    0 0 102px rgb(187, 80, 236),
    0 0 151px rgb(187, 80, 236) !important;
  animation: neon 3s infinite !important;
}

@keyframes neon 
{
  0% 
  {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
  50% 
  {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
    0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }
  100% 
  {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}


.neon-purple-fade {
  -webkit-animation: blink 0.01s infinite alternate;
  -moz-animation: blink 0.01s infinite alternate;
  -o-animation: blink 0.01s infinite alternate;
  animation: blink 0.01s infinite alternate;
}
.neon-blue-fade {
  opacity: 0.8;
  color: #ebffff;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #fff, 0 0 10px #38eeff, 0 0 50px #38eeff;
  -webkit-animation: fade 3s infinite alternate;
  -moz-animation: fade 3s infinite alternate;
  -o-animation: fade 3s infinite alternate;
  animation: fade 3s infinite alternate;
}
.neon-blue {
  color: #ebffff;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #fff, 0 0 10px #38eeff, 0 0 50px #38eeff;
}
.neon-purple {
  color: #ccf;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.5), 0 0 20px #fff, 0 0 10px #7d26cd, 0 0 50px #7d26cd;
}
.neon-red {
  color: #e6624b;
  text-shadow: 0px 0px 0px rgba(0,0,0,0.5), 0 0 1px #eb3528, 0 0 2px #f5341b;
}

.standart-green
{
  color: rgb(100, 165, 9);
  font: 700 normal 1em;
  font-family: 'monospace' !important;
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}
.standart-red
{
  color: #e6624b;
  font: 700 normal 1em;
  font-family: 'monospace' !important;
  text-shadow: 1px 2px #530808;
}



@-moz-keyframes blink {
  70% {
    opacity: 0.7;
  }
}
@-webkit-keyframes blink {
  45% {
    opacity: 0.5;
  }
}
@-o-keyframes blink {
  70% {
    opacity: 0.7;
  }
}
@keyframes blink {
  70% {
    opacity: 0.7;
  }
}
@-moz-keyframes fade {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
@-webkit-keyframes fade {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
@-o-keyframes fade {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
@keyframes fade {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}


.hover-button:before 
{
  content: '';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border-radius:50%;
  background: var(--hover-button-background);
  filter: blur(2px);
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.hover-button:hover:before {
  transform: scale(0.8);
  box-shadow: 0 0 10px var(--hover-button-boxshadow);
  filter: blur(1px);
}

.hover-button:hover {
  color: #8eff8a;
  box-shadow: 0 0 10px var(--hover-button-boxshadow);
  text-shadow: 0 0 10px var(--hover-button-boxshadow);
}


.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}